<div class="custom-main-container">
    <div class="content-window">
      <!-- <h3> Register form </h3> -->
        <form class="custom-form-container" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <!-- <div class="form-row custom-form-group"> -->
                  <!-- <div class="col cs-col">
                    <label for="inputFName">First Name</label>
                    <input type="text" class="form-control" placeholder="First name">
                  </div> -->
                  <!-- <div class="col cs-col">
                    <label for="inputLName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div> -->
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input 
                      type="email" 
                      id="email" 
                      class="form-control"
                      ngModel
                      name="email"
                      required
                      email>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input 
                      type="password" 
                      id="password" 
                      class="form-control"
                      ngModel
                      name="password"
                      required
                      minlength="2">
              </div>
              <button class="btn btn-primary" [disabled]="!authForm.valid" type="submit">Register</button>
        </form>
        <div class="cs-background-right">
            <img src="https://media.istockphoto.com/photos/shot-of-a-notebook-and-laptop-in-an-office-picture-id1336695502?b=1&k=20&m=1336695502&s=170667a&w=0&h=D1HzG17CB2_mZMjcvAIdFnQLujq6Ypa9YZ062xgtFJ8=" class="img-fluid"> 
        </div>
    </div>
</div>
