.content {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5vh;
}

.general-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.row-evenly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#parent div {
    width: 200px; 
    border: solid;
}