.header-date-picking {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15vw;
}

.date-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4vh;
}

.day-control-buttons {
    width: 100%;
    justify-content: center;
    align-items: baseline;
    display: inline-flex;
}

.btn-custom {
    color: white;
    background-color: #581845c4;
    width: 9vw;
    height: 30px;
    border-style: none;
    border-radius: 3.5px;
    box-shadow: 1px 1px 5px black;
    transition: transform .2s;
}

.btn-custom:hover {
    background-color: #581845ef;
}

.btn-custom:active {
    transform: scale(1.2);
}