<div class="backdrop" (click)="closeModalWindow()"></div>
<div class="modal-window">
    <div>
        <div class="header">
            <h4> Confirmation</h4>
        </div>
        <hr class="section-breaker">
        <div class="content">
            <h5>Are you sure you want to delete <strong>{{userTasksToDeleteName}}</strong> task?</h5>
        </div>
        <div class="footer">
            <button class="btn btn-danger" (click)="confirmDeletingUserTask()">Confirm</button>
            <button class="btn btn-success" (click)="closeModalWindow()">Decline</button>
        </div>
    </div>
</div>

