<div class="backdrop" (click)="closeModalWindow()"></div>
<div class="modal-window">
    <div class="modal-container">
        <div class="header">
            <h1> Confirmation</h1>
        </div>
        <hr class="section-breaker">
        <div class="content">
            <h1>Are you sure you want to delete <strong>{{userTasksToDeleteName}}</strong> task?</h1>
        </div>
        <div class="footer">
            <div class="btn btn-danger" (click)="confirmDeletingUserTask()">Delete task</div>
            <div class="btn btn-success" (click)="closeModalWindow()">Cancel</div>
        </div>
    </div>
</div>

