<div class="custom-main-container">
    <div class="content-window">
        <div>
            <h1>Currently logged in as -user1-</h1>
        </div>
        <div>
            <div>
                <h2>General settings:</h2>
                <hr class="section-breaker">
            </div>
            <div>
                <div>
                    <h2>Apperance:</h2>
                </div>
                <div>
                    <h4>Choose color theme:</h4>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="onSetColorSchema('DARK')">
                    <label class="btn btn-outline-secondary" for="btnradio1">Dark</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="onSetColorSchema('LIGHT')">
                    <label class="btn btn-outline-secondary" for="btnradio2">Light</label>
    
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="onSetColorSchema('DEFAULT')">
                    <label class="btn btn-outline-secondary" for="btnradio3">Default</label>
                </div>
                <hr class="section-breaker">
                <div>
                    
                </div>
            </div>
            <div>
                <h2>Dummy header 3:</h2>
            </div>
            <div>
                <h2>Dummy header 4:</h2>
            </div>
        </div>
    </div>  
</div>
