.size {
    margin-top: 15vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10%;
    gap: 10%;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    font-size: 20px;
    color: white
}

h1, h3 {
    color: rgba(36, 35, 35, 0.836); 
    text-align:center;
}

h1 {
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px gray;
}

.background {
    background-image: url("background.jpg");
    width: 790px;
    height: 600px;
    background-size: cover;
    border-color: gray;
}

.large-window {
    width: 75vw;
    height: 60vh;
}

.behind-texts {
    background-color: rgba(255, 255, 255, 0.562);
}

.behind-buttons {
    background-color: rgba(94, 90, 90, 0.507);
}

.main-border-style {
    max-width: fit-content;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .image {
        background-image: none;
    }

    .content-window{
        box-shadow: none;
        border: none;
    }

}