<div class="cs-container-main">
    <div class="cs-container cs-columns">
        <div class="">
            <h1>Welcome message</h1>
        </div>
        <div class="">
            <p>Some short message for the user about site.</p>
        </div>
    </div>
    <div class="cs-container cs-rows">
        <div class="option">
            <h3> <a href="/register">Register</a></h3>
        </div>
        <div class="option">
            <button (click)="tryAsAnon()"><a>Try out as anonymous user</a></button><h3></h3>
        </div>
        <div class="option">
            <h3><a href="/login">Login</a></h3>
        </div>
    </div>
</div>
