<div class="content-window image large-window size">
    <div class="content"> 
        <div class="main-header-container font wrapping">
            <h1 style="font-size: 250%;">TAKE CONTROL OF YOUR LIFE</h1>
        </div>
        <div class="sub-header-container font wrapping">
            <div class="">
                <h1>Plan your daily tasks and focus on things that are really important!</h1>
            </div>
        </div>
        <div class="buttons">
            <div class="behind-texts main-border-style">
                <button class="btn btn-outline" (click)="tryAsAnon()"><a>Register as new user</a></button><h3></h3>
            </div>
            <div class="behind-texts main-border-style">
                <button class="btn btn-outline" (click)="tryAsAnon()"><a>Try out as demo user</a></button><h3></h3>
            </div>
            <div class="behind-texts main-border-style">
                <button class="btn btn-outline" (click)="tryAsAnon()"><a>Login to your account</a></button><h3></h3>
            </div>
        </div>
    </div>
</div>
<!-- add info about image that the owner and creator is: 
    <a href="https://www.freepik.com/free-photo/office-table-with-cup-coffee-keyboard-notepad_5314525.htm#query=notepad%20background&position=42&from_view=keyword">
        Image by valeria_aksakova</a> on Freepik -->