<div class="content-window background large-window size">
    <div class="container">
        <div class="behind-texts main-border-style">
            <h1>PersonalOrganizerApp</h1>
        </div>
        <div class="behind-texts main-border-style">
            <h3>Plan your daily tasks and focus on really important things!</h3>
        </div>
        <div class="buttons">
            <div class="behind-buttons main-border-style">
                <button class="btn btn-outline" (click)="redirectToRegisterNewAppUser()"><a>Register as new user</a></button><h3></h3>
            </div>
            <div class="behind-buttons main-border-style">
                <button class="btn btn-outline" (click)="tryAsAnon()"><a>Try out as demo user</a></button><h3></h3>
            </div>
            <div class="behind-buttons main-border-style">
                <button class="btn btn-outline" (click)="redirectToLoginPage()"><a>Login to your account</a></button><h3></h3>
            </div>
        </div>
    </div>
</div>

<!-- TODO: add info about image that the owner and creator is -->