<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-bg" [ngStyle]="{'background-color' : colorSchemaBackgroundColor}">
    <div class="container-fluid ">
        <a routerLink="landing-page" class="navbar-brand">PersonalOrganizerApp</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="statistics">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="feedback">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="settings">Settings</a>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 move-to-right-edge">
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer" [ngClass]="isDemoAccount ? 'demo-user' : ''">{{appUserName}}</a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated || isDemoAccount">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" (click)="logoutAppUser()" routerLink="landing-page">Logout</a>
            </li>
        </ul>
    </div>
</nav>