<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-bg">
    <div class="container-fluid ">
        <a href="welcome" class="navbar-brand">PersonalOrganizerApp</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="statistics">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"href="feedback">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"href="feedback">Settings</a>
            </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 rev">
            <li class="nav-item">
                <a class="nav-link disabled"href="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "href="auth">Login</a>
            </li>
        </ul>
    </div>
</nav>