.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.modal-window {
    position: fixed;
    top: 30vh;
    left: 36vw;
    width: 30vw;
    padding: 16px;
    z-index: 100;
    background: rgb(245, 241, 241);
    
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 4px 18px 1px gray;
}

.content {
    text-align: center;
}

.footer {
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    gap: 30px;
}

.section-breaker {
    width: 100%;
    border-width: 1.9px;
}

button:hover {
    /* background-color: #888888; */
    box-shadow: 2px 2px #888888;
}

