.custom-main-container {
    border-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.content-window {
    display: flex;
    padding: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 65vw;
    box-shadow: 2px 4px 18px 1px gray;
    flex-direction: column;
}

.section-breaker {
    width: 30%;
    padding-bottom: 15px;
    border-width: 1.9px;
    /* box-shadow: 2px 4px 18px 1px gray; */
}

.headline {
    margin-left: 50px;
}

.bordered {
    border: 2px solid gray;
    padding: 15px;
}

.main-window {
    padding-top: 75px;
}

.main-windows-top-background {
    background-color:rgb(75, 158, 180, 0.6);
}

.center-text {
    text-align: center;
    border: 3px solid green;
}

.createNewTaskButton {
    text-align: left;
    margin-top: 1000px;
}

.cs-nav-bar {
    border-bottom: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: gray;
    background-color: darkcyan;
}

.navbar-list {
    text-align: center;
    display: inline-block;
}