
<div class="tasks-list-container">
    <div class="tasks-list" *ngIf="!isScheduledTasksListEmpty">
        <h4>Scheduled tasks:</h4>
        <hr class="section-breaker short">
        <app-task *ngFor="let nTask of notCompletedTasks" (deletedMyself)="onTaskDeleted(nTask)" (updatedTask)="fetchTasksForDate()" [taskToShow]="nTask" [currDate]="todayDate"></app-task>
    </div>
    <div class="tasks-list" *ngIf="!isCompletedTasksListEmpty">
        <h4>Completed tasks:</h4>
        <hr class="section-breaker short">
        <app-task *ngFor="let uTask of completedTasks" (updatedTask)="fetchTasksForDate()" [taskToShow]="uTask"></app-task>
    </div>
    <div class="empty-tasks-list" *ngIf="isBothListsEmpty">
        <h4>Your lists are empty!</h4>
    </div>
</div>

<app-success-notification *ngIf="showSuccessfullyDeletedNotification" [message]="deletedUserTaskMessageForNotification" (closeNotification)="showSuccessfullyDeletedNotification = false"></app-success-notification>

