<!-- if hide widget button is pressed we dont show anything else, we are showing component -->
<div class="window-wrapper" *ngIf="isShowView else hideTasksListView">
    <div class="roll-up-section-button"> 
        <button class="hide-widget"(click)="isShowView = !isShowView">hide widget</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down hide-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
    <div class="tasks-list-header">
        <div class="header-top"> 
            <h1>Your tasks:</h1>
        </div>
        <hr class="section-breaker">
        <div class="date-container">
            <div class="date-shower">
                <p><strong>Showing tasks for: {{dateToShow}}</strong></p>
            </div>
            <div class="header-date-picking"> 
                <div>
                    <div class="day-control-buttons">
                        <button class="btn-custom" (click)="setDate(-1)">Prev day</button>
                        <button class="btn-custom" (click)="setDate(1)">Next day</button>
                    </div>
                </div>
                <div>
                    <div class="day-control-buttons">
                        <button class="btn-custom" (click)="setDateToShowAsTodayAndFetchTasks()">Today</button>
                    </div>
                </div>
                <div>
                    <div class="day-control-buttons">
                        <button class="btn-custom" (click)="showAllScheduledUserTasks()">All tasks</button>
                        <button class="btn-custom" (click)="showAllScheduledUserTasks()">Pick day</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section-breaker full">

    <!-- INPUT row to quickly add new tasks -->
    <div class="input-group mb-3">
        <input (keydown.Enter)="onKeydown(newUserTaskName)" autofocus type="text" class="form-control" placeholder="Input to quickly add new task for currently showing day!" aria-label="Create new task" aria-describedby="button-addon2" #newUserTaskName>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="createNewUserTask(newUserTaskName)">Create task</button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="createNewTaskModal = true">Press to add more details</button>
    </div>
    <app-create-new-task *ngIf="createNewTaskModal" (closeModal)="createNewTaskModal = false" [defaultDatePickerDate]="dateToShow"></app-create-new-task>
    <div class="tasks-list-container">
        <div class="tasks-list" *ngIf="!isScheduledTasksListEmpty">
            <h4>Scheduled tasks:</h4>
            <hr class="section-breaker short">
            <app-task *ngFor="let nTask of notCompletedTasks" (deletedMyself)="onTaskDeleted(nTask)" (updatedTask)="fetchTasksForDate()" [taskToShow]="nTask"></app-task>
        </div>
        <div class="tasks-list" *ngIf="!isCompletedTasksListEmpty">
            <h4>Completed tasks:</h4>
            <hr class="section-breaker short">
            <app-task *ngFor="let uTask of completedTasks" (updatedTask)="fetchTasksForDate()" [taskToShow]="uTask"></app-task>
        </div>
        <div class="empty-tasks-list" *ngIf="isBothListsEmpty">
            <h4>Your lists are empty!</h4>
        </div>
    </div>
</div>

<!-- if any task has been deleted shows this confirmation -->
<app-success-notification *ngIf="showSuccessfullyDeletedNotification" [message]="deletedUserTaskMessageForNotification" (closeNotification)="showSuccessfullyDeletedNotification = false"></app-success-notification>

<ng-template #hideTasksListView>
    <div class="hiddenWidgetContainer">
        <h1> Your tasks list</h1>
        <div class="amount-positioning">
            <p class="amount-styling">{{scheduledUserTasksAmount}}</p>
        </div>
        <div class="roll-up-section-button"> 
            <button class="hide-widget"(click)="isShowView = !isShowView">show full view</button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down hide-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
    </div>
</ng-template>



<!-- STATS -->
<!-- days between between day should be done and was really done -->
<!-- amount of them made during deadline -->
<!-- amount of stats completed total -->

<!-- REGISTER, LOGIN -->

<!-- add priority option for tasks, it should add ! on the color section and maybe red shadow ? -->

<!-- add hooks for each section -->
<!-- create show details button, this should open task in modal on new url, and we should be able to share this link, there should be button to collapse details/show it -->
