/* style wrapper for whole component view */
.window-wrapper {
    padding: 50px;
    position: relative;
}

.section-breaker {
    width: 30%;
    padding-bottom: 15px;
    border-width: 1.9px;
    /* box-shadow: 2px 4px 18px 1px gray; */
}

/* styling for the header of the content window */
    /* styling for the headline */
        .header-top {
            display: flex;
        }

        .headline {
            width: 50%;
        }

        .header-image-for-component {
            width: 39%;
            /* border-style: solid; */
        }

        /* .roll-up-section-button {
            font-size: xx-small;
            position: relative;
            left: 5%;
            bottom: 30px;
            text-decoration: underline;
            display: inline-flex;
        } */

        .hide-widget {
            padding: 0;
            border: none;
            background: none;
        }

        .hide-arrow-down {
            margin-left: 3px;
            height: 14px;
        }

    /* styling for the date picker */
        .header-date-picking {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        .day-control-buttons {
            width: 100%;
            justify-content: center;
            align-items: baseline;
            display: inline-flex;
        }


        .week-control-buttons {
            width: 100%;
            justify-content: center;
            align-items: baseline;
            display: inline-flex;
        }

        /* hidden widget styling */
        .hiddenWdigetViewName {
            /* border-style: solid; */
            text-align: center;
        }

        .hiddenWidgetContainer {
            position: relative;
        }

        .roll-up-section-button {
            position: absolute;
            left: 85%;
            bottom: 85%;
            /* font-size: xx-small;
            position: relative;
            
            
            text-decoration: underline;
            display: inline-flex; */
        }

        .roll-up-section-button-hidden {
            position: absolute;
            left: 84%;
            bottom: 13%;
            /* font-size: xx-small;
            position: relative;
            
            
            text-decoration: underline;
            display: inline-flex; */
        }
