<!-- Make it possible to set custom background for each habbit -->
<div class="container">
  <h1>Habits:</h1>
  <button class="btn btn-secondary bordered" (click)="setCollapseHabits()">Press to collapse</button>
  <h4 *ngIf="habitsList.length == 0"> HabitsList is empty! </h4>
  &nbsp;
  <button class="btn btn-secondary bordered" (click)="setCreateNewHabit()">Create new habit</button>
  <app-create-new-habit *ngIf="createNewHabit"></app-create-new-habit>
  <hr>
  <div class="container">
      <!-- set background button in this container right top  -->
      <div *ngIf="showHabits">
        <app-habit *ngFor="let habit of habitsList" [habitToShow]="habit"></app-habit>
      </div>
  </div>
</div>

