<!-- <hr>
<div class="container" style="border: 1px solid">
    <div class="row">
        <p><strong>{{taskToShow.name}}</strong></p>
        <p>Marked as completed: {{taskToShow.markedAsCompleted}} </p>
        <button class="btn btn-success btn-sm" (click)="updateMarkAsCompleted()">mark as complete</button>
        <button class="btn btn-secondary btn-sm" (click)="toogleEditMode()">edit task</button>
        <button class="btn btn-danger btn-sm">delete task</button>
        <button class="btn btn-danger btn-sm">play music</button>
        <button class="btn btn-primary btn-sm" (click)="setShowTimer()" *ngIf="taskToShow.countTimePerDay">work on task</button>
        <p *ngIf="taskToShow.countTimePerDay"> Today's time spent on task: <strong>{{timeElapsedFromStopWatch}} seconds</strong></p>
        <app-timer *ngIf="showTimer" (emitTimeElapsed)="saveTimeElapsedFromStopwatch($event)"></app-timer>
    </div>
    <div class="row" *ngIf="taskToShow.hasSubTasks">
        <p>Has sub tasks list</p>
        <li *ngFor="let subTask of taskToShow.subTaskMap | keyvalue"> {{subTask.key}}</li>
    </div>
    <div class="row" *ngIf="editMode">
        <p>Edit mode: ON!</p>
        <p>Task configuraion:</p>
        <p>Task name:{{taskToShow.name}}</p>
        <p>Task due date:{{taskToShow.dateDue}}</p>
        <p>Count time spent on task per day? {{taskToShow.countTimePerDay}}</p>
        <p>Does task has subTask list?{{taskToShow.hasSubTasks}}</p>
        <hr>
        <button class="btn btn-success" (click)="toogleEditMode()">Save modifications</button>
    </div>
        <button class="btn btn-secondary" *ngIf="taskToShow.hasSubTasks">Press to add to subTaskList</button>
        <button class="btn btn-danger">SHARE TASK</button>
</div> -->
<div class="custom-main-container">
    <div class="name-and-description-container">
        <div class="tasks-name">
            <p><strong>{{taskToShow.name}}</strong></p>
        </div>
        <hr class="section-breaker">
        <div class="tasks-description">
            <p>Task's description</p>
        </div>
    </div>
    <div class="buttons-and-color-container">
        <!-- <hr class="section-breaker-horizontal"> -->
        <div class="buttons-container">buttons</div>
        <div class="tasks-color">color</div>
        <!-- <p> BUTTONS </p>
        <p> mark as completed</p>
        <p> move to another day </p>
        <p> edit </p>
        <p> share </p>

        <p> show details </p>
        <p> show sublist </p> -->
    </div>
</div>

