<!-- <hr>
<div class="container" style="border: 1px solid">
    <div class="row">
        <p><strong>{{taskToShow.name}}</strong></p>
        <p>Marked as completed: {{taskToShow.markedAsCompleted}} </p>
        <button class="btn btn-success btn-sm" (click)="updateMarkAsCompleted()">mark as complete</button>
        <button class="btn btn-secondary btn-sm" (click)="toogleEditMode()">edit task</button>
        <button class="btn btn-danger btn-sm">delete task</button>
        <button class="btn btn-danger btn-sm">play music</button>
        <button class="btn btn-primary btn-sm" (click)="setShowTimer()" *ngIf="taskToShow.countTimePerDay">work on task</button>
        <p *ngIf="taskToShow.countTimePerDay"> Today's time spent on task: <strong>{{timeElapsedFromStopWatch}} seconds</strong></p>
        <app-timer *ngIf="showTimer" (emitTimeElapsed)="saveTimeElapsedFromStopwatch($event)"></app-timer>
    </div>
    <div class="row" *ngIf="taskToShow.hasSubTasks">
        <p>Has sub tasks list</p>
        <li *ngFor="let subTask of taskToShow.subTaskMap | keyvalue"> {{subTask.key}}</li>
    </div>
    <div class="row" *ngIf="editMode">
        <p>Edit mode: ON!</p>
        <p>Task configuraion:</p>
        <p>Task name:{{taskToShow.name}}</p>
        <p>Task due date:{{taskToShow.dateDue}}</p>
        <p>Count time spent on task per day? {{taskToShow.countTimePerDay}}</p>
        <p>Does task has subTask list?{{taskToShow.hasSubTasks}}</p>
        <hr>
        <button class="btn btn-success" (click)="toogleEditMode()">Save modifications</button>
    </div>
        <button class="btn btn-secondary" *ngIf="taskToShow.hasSubTasks">Press to add to subTaskList</button>
        <button class="btn btn-danger">SHARE TASK</button>
</div> -->
<div class="custom-main-container connector">
    <div class="overwritter" *ngIf="taskToShow.completed">
        <h2>COMPLETED</h2>
    </div>
    <div class="name-and-description-container" [ngClass]="taskToShow.completed ? 'blur' : ''">
        <div class="tasks-name">
            <p><strong>{{taskToShow.name}}</strong></p>
            <div class="show-description">
                <p>show sublist</p>
            </div>
        </div>
        <hr class="section-breaker">
        <div class="tasks-description">
            <p>Task's description</p>
        </div>
    </div>
    <div class="buttons-and-color-container">
        <!-- <hr class="section-breaker-horizontal"> -->
        <div class="buttons-container">
            <div class="completed-button" *ngIf="taskToShow.completed == true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2" viewBox="0 0 16 16" (click)="setCompleted(false)">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </div>
            <div class="not-completed-button" *ngIf="taskToShow.completed == false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16" (click)="setCompleted(true)">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
            <div class="edit-button" [ngClass]="taskToShow.completed ? 'blur' : ''">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </div>
            <div class="dropup" [ngClass]="taskToShow.completed ? 'blur' : ''">
                <div class="share-button dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                    </svg>
                </div>
                <!-- add button: move for tomorrow, and add every move like this to statistics -->
                <div class="dropup-content">    
                    <a href="#">Email</a>
                    <a href="#">Link</a>
                </div>
            </div>
            <div class="delete-button" [ngClass]="taskToShow.completed ? 'blur' : ''">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="setShowDeleteConfirmModal(true)">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </div>
        </div>
        <div class="tasks-color" [ngClass]="taskToShow.completed ? 'blur' : ''">
            <!-- <input type="color"> -->
            <!-- <input type="color" class="custom-color-control form-control form-control-sm form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color"> -->
            <input class="color-picker" type="color" id="html5colorpicker" onchange="clickColor(0, -1, -1, 5)" value="#ff0000" style="width:85%;">
        </div>
    </div>
</div>

<!-- being fired when we press delete button on task -->
<app-delete-conf-modal *ngIf="showDeleteConfirmModal" (closeModal)="setShowDeleteConfirmModal(false)" (deleteUserTaskConfirmed)="deleteUserTask()"></app-delete-conf-modal>

<!-- if task is completed make it move to the section below current tasks and make it wyszarzony, as everything add to statistics evey done tasks -->