<div class="custom-main-container">
    <div class="content-window" style="width: fit-content">
        <div class="inner-main-container">
            <div style="text-align: center">
                <h1>Login:</h1>
                <!-- instead of personelorganizerapp title, add logo -->
                <h2>PersonalOrganizer</h2>
            </div>
            <div>
                <div>
                    <!-- change stylin for inputs -->
                    <label for="username">Username:</label>
                    <input 
                        type="text" 
                        id="username" 
                        class="form-control"
                        ngModel
                        name="username"
                        required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input 
                        type="text" 
                        id="password" 
                        class="form-control"
                        ngModel
                        name="password"
                        required>
                </div>
            </div>
            <div style="text-align:center">
                <button>Login</button>
                <p><strong>Don't have an account?</strong></p>
                <button>SIGN UP</button>
            </div>
        </div>
    </div>
</div>