<div>
    <div class="header-top"> 
        <div>
            <h1>Your tasks:</h1>
        </div>
        <div *ngIf="!showAllTasks">
            <h4>Showing tasks for: <strong>{{messageToShow}}</strong></h4>
        </div>
        <div *ngIf="showAllTasks">
            <h4>Showing all scheduled tasks</h4>
        </div>
    </div>
    <hr class="section-breaker">
    <div class="date-container">
        <div class="header-date-picking"> 
            <div>
                <div class="input-group day-control-buttons">
                    <button class="btn-custom" (click)="setDate(-1)" [ngStyle]="{'background-color' : color}">Prev day</button>
                    <button class="btn-custom" (click)="setDate(1)" [ngStyle]="{'background-color' : color}">Next day</button>
                </div>
            </div>
            <div>
                <div class="day-control-buttons">
                    <button class="btn-custom" (click)="setDateToShowAsTodayAndFetchTasks()" [ngStyle]="{'background-color' : color}">Today</button>
                </div>
            </div>
            <div>
                <div class="input-group day-control-buttons">
                    <button class="btn-custom" (click)="onFetchAllScheduledTasks()" [ngStyle]="{'background-color' : color}">All tasks</button>
                    <button class="btn-custom" [disabled]="true" (click)="onFetchAllScheduledTasks()" [ngStyle]="{'background-color' : color}">Pick day</button>
                </div>
            </div>
        </div>
    </div>
</div>
