<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <!-- logo and brand name for my website -->
        <a href="welcome" class="navbar-brand">PersonalOrganiserApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- active class set this link as currently selected, add dynamic class selecting -->
                <!-- tasks list, habitslist, news based on custom preferences in settings, also if not set, make message and allow user to go through tutorial to setting it -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <!-- info about why it was created what it does, maybe some tutorial? and info that im learning programming etc, DO THIS AS FIRST ROUTING SUBPAGE -->
                <li class="nav-item">
                    <a class="nav-link"href="about">About</a>
                </li>

                <!-- if user logged in show dropdown menu with content -->
                <li class="nav-item" *ngIf="isUserLoggedIn">
                    <a class="nav-link"href="#">Dropdown menu</a>
                    <!-- taskslist -->
                    <!-- habitslist -->
                    <!-- statistics --> 
                        <!-- graphs, instructions on phone in photos folder, stats based on tags for single tasks/habbits 
                            like you spend 100minutes on working out habit during last week, or did this tag 5times last week -->
                    <!-- settings -->
                        <!-- create service with all the config for the user -->
                        <!-- make it possible to not show selected components on home subpage, maybe some customization of colors? intereseted topics in news, localistation to set weather widget -->
                </li>
                <!-- create send feedback button to contact with my email account etc. -->
                <!-- https://www.baeldung.com/java-email -->
                <li class="nav-item">
                    <a class="nav-link"href="feedback">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<router-outlet></router-outlet>

<!-- create footer -->
<div class="div">

</div>