.nav-bg {
    background-color: #581845c4;
}

.rev {
    justify-content: flex-end;
    width: 100%;
}

.footer-positioning {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-mod {
    justify-content: center;
    width: 100%;
}