<div class="cs-nav-bar">
    <div class="navbar-list">
        <ul>
            <!-- logo and brand name for my website -->
            <li>Site name</li>
            <!-- show all possible options -->
            <!-- tasks list, habitslist, news based on custom preferences in settings, also if not set, make message and allow user to go through tutorial to setting it -->
            <!--  -->
            <li>Home --landing page--</li>
            <!-- info about why it was created what it does, maybe some tutorial? and info that im learning programming etc, DO THIS AS FIRST ROUTING SUBPAGE -->
            <li>About site</li>
            <!-- as below + register with email possibility -->
            <li>Register user</li>
            <!-- implement OAuth -->
            <li>Login</li>
        </ul>
        <ul *ngIf="isUserLoggedIn">
            <li>TasksList</li>
            <li>HabitsList</li>
            <!-- graphs, instructions on phone in photos folder, stats based on tags for single tasks/habbits 
                like you spend 100minutes on working out habit during last week, or did this tag 5times last week -->
            <li>Statistics</li>
            <!-- make it possible to not show selected components on home subpage, maybe some customization of colors? intereseted topics in news, localistation to set weather widget -->
            <li>Options</li>
            <!-- create send feedback button to contact with my email account etc. -->
            <!-- https://www.baeldung.com/java-email -->
            <li>Send feedback</li>
            <li>Donate </li>
        </ul>
    </div>
</div>
<hr>
<div class="container main-window center-text">
    <div class="main-windows-top-background bordered">
        <h3>Your tasks:</h3>
    </div>
    <div class="container bordered" style="background-color:#D3D3D3;">
        <div class="row">
            <div class="col-xs-12">
                <app-tasks-list></app-tasks-list>
            </div>
        </div>
    </div>
    <hr>
    <div class="container bordered">
        <div class="row">
            <div class="col-xs-12">
                <app-habits-list></app-habits-list>
            </div>
        </div>
    </div>
    
    
    <hr>
    <hr>
    
    <div class="container" style="border:1px solid">
        <div class="row">
            <p>Weather widget</p>
            <p>Open weather</p>
        </div>
    </div>
    
    <hr>
    <hr>
    
    <div class="container" style="border:1px solid">
        <div class="row">
            <p>Budget Manager</p>
        </div>
    </div>
    
    <div class="container" style="border:1px solid">
        <div class="row">
            <p>Spotify Music widget</p>
        </div>
    </div>

    <div class="container" style="border:1px solid">
        <div class="row">
            <p>Latest news</p>
            <p>https://developer.nytimes.com/docs/articlesearch-product/1/overview</p>
        </div>
    </div>
    
    
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
</div>
<div class="container">
    <nav class="navbar sticky-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Sticky Bottom</a>
    </nav>
</div>
