/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.section-breaker {
    width: 30%;
    padding-bottom: 15px;
    border-width: 1.9px;
}