/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Dancing Script', cursive;
}

.content-window {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 65vw;
    box-shadow: 2px 4px 18px 1px gray;
    flex-direction: column;
}

.section-breaker {
    width: 30%;
    padding-bottom: 15px;
    border-width: 1.9px;
}

.no-padding-bott {
    padding-bottom: 0px;
}

.main-border-style {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 4px 18px 1px gray;
}