<div class="tasks-list-container">
    <div class="tasks-list" *ngIf="!isListEmpty">
        <h4>Scheduled tasks:</h4>
        <hr class="section-breaker short">
        <app-task *ngFor="let nTask of scheduledUserTasksList" (deletedMyself)="onTaskDeleted(nTask)" (updatedTask)="fetchUserTasksScheduledByDate()" [taskToShow]="nTask"></app-task>
    </div>
</div>

<app-success-notification *ngIf="showSuccessfullyDeletedNotification" [message]="deletedUserTaskMessageForNotification" (closeNotification)="showSuccessfullyDeletedNotification = false"></app-success-notification>
